@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter&display=swap');

:root {
  --primary-colors: #BC85DA;
  --secondary-colors: #CC9AE8;
  --tertiary-color: #7820A7;
  --text-colors-b: #000000;
  --text-colors-w: #ffffff;
  --background: #FFFBF5;
  --img-theme: url(./assets/sun.svg)
}

[data-theme="dark"] {
  --primary-colors: #52057B;
  --secondary-colors: #7820A7;
  --tertiary-color: #CC9AE8;
  --text-colors-b: #ffffff;
  --background: #180D29;
  --img-theme: url(./assets/moon.svg)
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--background);
}

p,
li {
  font-family: 'Inter', sans-serif !important;
}

h1 {
  font-family: 'Cabin', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: var(--text-colors-w) !important;
}


/* sobrenozes */
.sn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-sn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-sn div {
  display: flex;
  flex-direction: column;
}

/* sobrenozes */

.carousel {
  margin-top: 64px;
}

#sobrenos,
#servicos,
#farejenos {
  margin: 128px 0;
}

.carousel-inner {
  background-color: var(--secondary-colors);
}

.carousel-item {
  position: relative;
  height: 512px;
}

.carousel-item img {
  width: auto;
  height: auto;
  min-width: 1280px;
  max-width: 1920px;
  position: absolute;
  bottom: 0;
}

.carousel-indicators .active {
  background: var(--tertiary-color) !important;
}

.dots {
  background: var(--text-colors-b) !important;
  width: 8px !important;
  height: 8px !important;
  margin-right: 18px !important;
  margin-left: 18px !important;
  border-radius: 999px;
}

.carousel-indicators {
  bottom: -36px !important;
}

.max-w {
  width: 100%;
  max-width: 1366px;
  padding: 0 64px;
}

.top-bar {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 50;
  background-color: var(--primary-colors);
}

.top-bar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar button {
  background-color: transparent;
  border: none;
  display: none;
}

.top-bar button:hover {
  cursor: pointer;
}

.side-bar {
  width: 100%;
  margin-top: 64px;
  background: #00000090;
  position: fixed;
  display: none;
  justify-content: flex-end;
  z-index: 100;
  top: 0;
}

.side-bar div a:nth-child(2) {
  border-top: solid #fff 1px;
  border-bottom: solid #fff 1px;
}

.show-sidebar {
  display: flex !important;
}

.w-sb {
  width: 86%;
  height: 100%;
  height: 9999px;
  background-color: var(--primary-colors);
}

.w-sb a {
  width: 100% !important;
  height: 70px !important;
  display: flex;
}

.w-sb a p,
.w-sb a img {
  height: 24px;
  margin: 24px 0px 24px 24px;
}

button:focus {
  outline: none !important;
}

.top-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 82px;
  margin: 0px;
  color: var(--text-colors-w);
}

.top-bar li {
  font-weight: bold;
}

.button-switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.button-switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000050;
  transition: .2s;
  border-radius: 30px;
  box-shadow: inset 0px 0px 10px 0px #00000070;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: var(--primary-colors);
  background-image: var(--img-theme);
  background-repeat: no-repeat;
  background-position: center;
  transition: .4s;
}

input:checked+.slider:before {
  transform: translateX(1.9em);
}

.active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}


/*  */
.main {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__sobre-nos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 64px;
}

.main__sobre-nos img {
  width: 50%;
  height: 50%;
}

.main__sobre-nos__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.main__sobre-nos__txt h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0%;
}

.sn-mobile {
  display: none;
}

.main__sobre-nos__txt p {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
  max-width: 100%;
  margin: 0%;
}

.main__sobre-nos__txt p,
.main__sobre-nos__txt h1 {
  color: var(--text-colors-b);
}

.main__fareje {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: var(--background)
}

.main__fareje h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;

  color: var(--text-colors-b);


  padding-bottom: 64px;
}

.main__fareje-content___maps {
  min-width: 50%;
  border: none;
  border-radius: 34px;
}

.main__fareje-content__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px
}

.main__fareje-content__right p {
  color: var(--text-colors-b);
}

.main__fareje-content__right img {
  height: 16rem;
}

.main__fareje-content__right p {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  margin: 0px 0px 0px;
}

.main__fareje-content__right p strong {
  font-weight: bold;
}


.main__fareje-content {
  display: flex;
  gap: 64px;
}

/* Divider */

.divider {
  width: 100%;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-colors);

}

.divider div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patinha-img {
  max-height: 4rem;
  height: 100%;
}

.dog-img {
  height: 50vw;
  max-height: 200px;
}

.linha {
  width: 100vw !important;
  max-width: 254px;
  border-bottom: 2px solid #ffffff;
}

/* Footer de iago.com */

footer {
  background-color: var(--secondary-colors);
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.rodape {
  display: flex;
  flex-direction: row;
}

.cotato-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cotato-info h2 {
  font-size: 16px;
}

.cotato-info img {
  margin-right: 10px;
}

.logo {
  margin-right: 0 !important;
}

.cotato-info h2 {
  margin: 19px 0;
  color: #FFF;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.cotato-info h2 img {
  display: inline-flex;
}

.formulario {
  width: 100%;
  max-width: 700px;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario h1 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding: 0;
}

.formulario input,
.formulario textarea {
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
  background: #EDF5F4;
  box-shadow: 0px -1px 0px 0px #484747 inset;
}

form {
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea {
  display: flex;
  width: 100%;
  padding: 13px 12px 13px 12px;
  align-items: center;

  background-color: #ffffff;
  border: 0;
  outline: 0;
  color: #242424da;
  font-size: 13px;
}

form textarea {
  resize: none;
  max-height: 420px;
}

form .botao-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
}

form .botao-enviar input {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  width: 128px;
  height: 31.688px;
  padding: 6px 39px 6.688px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: .2s;

  border-radius: 2px;
  background: var(--tertiary-color);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

div label {
  color: #FFF;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Fim Footer de iago.com */

/* Media Query Mobile */

@media (max-width: 768px) {
  .top-bar button {
    display: block;
  }

  .top-bar ul,
  .top-bar label {
    display: none;
  }

  .max-w {
    padding: 32px;
  }

  .main__sobre-nos{
    margin: 96px 0 !important;
  }

  .main__sobre-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 64px;
  }

  .main__sobre-nos__txt h1 {
    display: none;
  }

  .main__sobre-nos__txt p{
    font-size: 1rem;
    text-align: center;
  }

  .sn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 13px;
  }

  .cachorro-sn-mobile768{
    width: 90vw !important;
  }

  .cachorro-sn-mobile480{
    display: none;
  }

  .sn-img-desk {
    display: none;
  }

  .sn-mobile-title {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .sn-mobile-title h1 {
    color: var(--text-colors-b);
  }

  .sn-mobile-title h1 {
    font-size: 2rem;
    margin: 0%;
    font-weight: bold;
  }

  .claw-sn {
    display: none;
  }

  /* Divider */
  .divider {
    height: 30vw;
  }

  .patinha-img {
    width: 6vw !important;
  }

  .dog-img {
    width: 25vw !important;
  }

  .linha {
    height: 1vw !important;
    width: 50% !important;
    margin: 0 3vw !important;
  }

  /* Divider END*


  /* FAREJENOS */
  .main__fareje-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__fareje-content___maps {
    width: 90.975348338692392vw;
    height: 46vh;
  }

  .main_faixada {
    display: none;
  }

  .main__fareje h1{
    font-size: 2rem;
  }

  .main__fareje-content__right p{
    font-size: 1.0rem;
  }

  /* FAREJENOS END*/


  /* FOOOTER*/
  .rodape {
    display: flex;
    flex-direction: column-reverse;
  }

  .cotato-info h2 {
    font-size: 100%
  }

  .cotato-info h2 img {
    width: 11%;
  }

  .logo {
    width: 30%;
  }

  .cotato-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cotato-info.copyright {}

  .formulario {
    padding: 40px 0;
  }


  /* FOOOTER END */

}

@media (max-width: 480px) {

  .max-w {
    padding: 20px;
  }

  /* SOBRE NÓS */
    .main__sobre-nos{
      margin: 64px 0 !important;
    }

    .sn-mobile{
      flex-direction: row;
    }

    .sn-mobile h1{
      font-size: 1.8rem;
    }

    .cachorro-sn-mobile480{
      display: flex;
      min-width: 90px;
    }

    .cachorro-sn-mobile768{
      display: none;
    }

    .main__sobre-nos__txt p{
      font-size: 0.8rem;
      text-align: justify;
    }

    .sn-mobile-title {
      display: flex;
      flex-direction: column;
    } 

    .claw-sn {
      width: 45% !important;
      height: 45% !important;
      position: absolute;
      right: -3%;
      bottom: 5%;
      display: flex;
    }
  
  /* SOBRE NÓS END */

  /* DIVIDER */


  /* DIVIDER END */

  /* FAREJE-NOS */
  .main__fareje h1{
    font-size: 1.6rem;
    padding-bottom: 34px;
  }

  .main__fareje-content__right p{
    font-size: 0.8rem;
  }

  .main__fareje-content___maps {
    height: 36vh;
  }
  
  /* FAREJE-NOS END */

  /*FOOTER*/
  .formulario h1{
    font-size: 1.4rem;
  }

  .cotato-info {
    text-align: center !important;
  }

  .cotato-info h2 {
    font-size: 100%;
  }

  .cotato-info h2 img {
    width: 7%;
    min-width: 15px;
    max-width: 30px;
  }

  .logo {
    width: 50%;
    margin: 0 auto !important;
    min-width: 82px;
    max-width: 179px;
  }

  .cotato-info {
    display: flex;
    flex-direction: column;
  }

  .cotato-info.copyright {}

  /*FOOTER END*/
}