@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter&display=swap');

:root {
  --aux-color: #d7bee6;
  --primary-colors: #BC85DA;
  --secondary-colors: #CC9AE8;
  --tertiary-color: #7820A7;
  --text-colors-b: #000000;
  --text-colors-w: #ffffff;
  --background: #FFFBF5;
  --img-theme: url(./assets/sun.svg);
  --pl: block;
  --pd: none;
}

[data-theme="dark"] {
  --primary-colors: #52057B;
  --secondary-colors: #7820A7;
  --tertiary-color: #CC9AE8;
  --text-colors-b: #ffffff;
  --background: #180D29;
  --img-theme: url(./assets/moon.svg);
  --pl: none;
  --pd: block;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-colors);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--background);
  /* creates padding around scroll thumb */
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--background);
}

p,
li {
  font-family: 'Inter', sans-serif !important;
}

h1 {
  font-family: 'Cabin', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: var(--text-colors-w) !important;
}


/* sobrenozes */
.sn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-sn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-sn div {
  display: flex;
  flex-direction: column;
}

/* sobrenozes */

.carousel {
  margin-top: 64px;
}

#sobrenos,
#servicos,
#farejenos {
  margin: 128px 0;
}

.carousel-inner {
  background-color: var(--secondary-colors);
}

.carousel-item {
  position: relative;
  height: calc(100vw / 3);
  max-height: 512px;
}

.carousel-item img {
  width: auto;
  height: auto;
  max-width: 1920px;
  position: absolute;
  bottom: 0;
}

.carousel-indicators .active {
  background: var(--tertiary-color) !important;
}

.dots {
  background: var(--text-colors-b) !important;
  width: 8px !important;
  height: 8px !important;
  margin-right: 18px !important;
  margin-left: 18px !important;
  border-radius: 999px;
}

.carousel-indicators {
  bottom: -36px !important;
}

.max-w {
  width: 100%;
  max-width: 1366px;
  padding: 0 64px;
}

.top-bar {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 50;
  background-color: var(--primary-colors);
}

.top-bar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar button {
  background-color: transparent;
  border: none;
  display: none;
}

.top-bar button:hover {
  cursor: pointer;
}

.side-bar {
  width: 100%;
  margin-top: 64px;
  background: #00000090;
  position: fixed;
  display: none;
  justify-content: flex-end;
  z-index: 100;
  top: 0;
}

.img-theme {
  width: 20px;
  height: 20px;
  background-image: var(--img-theme);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 24px 0px 24px 24px;
}

.side-bar div a:nth-child(1),
.side-bar div a:nth-child(2),
.side-bar div a:nth-child(3) {
  border-bottom: solid #fff 1px;
}

.show-sidebar {
  display: flex !important;
}

.w-sb {
  width: 86%;
  height: 100%;
  height: 9999px;
  background-color: var(--primary-colors);
}

.w-sb a {
  width: 100% !important;
  height: 70px !important;
  display: flex;
}

.w-sb a p,
.w-sb a img {
  height: 24px;
  margin: 24px 0px 24px 24px;
}

button:focus {
  outline: none !important;
}

.top-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 82px;
  margin: 0px;
  color: var(--text-colors-w);
}

.top-bar li {
  font-weight: bold;
}

.button-switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.button-switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000050;
  transition: .2s;
  border-radius: 30px;
  box-shadow: inset 0px 0px 10px 0px #00000070;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: var(--primary-colors);
  background-image: var(--img-theme);
  background-repeat: no-repeat;
  background-position: center;
  transition: .4s;
}

input:checked+.slider:before {
  transform: translateX(1.9em);
}

.active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}


/*  */
.main {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__sobre-nos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 64px;
}

.main__sobre-nos img {
  width: 50%;
  height: 50%;
}

.main__sobre-nos__txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.main__sobre-nos__txt h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0%;
}

/* SERVISO */
.main__service{
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-wrap: wrap;
  align-content:center ;
  justify-content: center;
  padding-bottom: 128px;
}

.h1__service__txt{
  display: flex;
  font-weight: bold;
  font-size: 40px;
  margin: 0%;
  align-self: center;
  color: var(--text-colors-b);
}


.carousel__body{
  display: flex;
  flex-direction: row;
  align-content:center ;
  justify-content: center;
  height: 25vw;
  max-height: 276px;

}

.carousel__imgs{
  min-height: 100%;
}

.swiper{
  display: flex;
  background: linear-gradient(to bottom, var(--tertiary-color), var(--primary-colors), var(--secondary-colors)) !important;
  border-radius: 2.8rem;
  max-width: 1043px;
  width: 90vw !important;
}

.swiper-wrapper{
  width: 90vw !important;
  min-width: 1060px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination{
  color: var(--text-colors-b) !important;
}

.swiper-button-prev{
  display: flex;
  color: var(--text-colors-b) !important;
  right: 100px;
}

.swiper-button-next{
  display: flex;
  color: var(--text-colors-b)!important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: var(--tertiary-color)!important;
}

@media (max-width: auto) {
  .swiper {
    height: 270px;
  }
}

.sn-mobile {
  display: none;
}

.main__sobre-nos__txt p {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
  max-width: 100%;
  margin: 0%;
}

.main__sobre-nos__txt p,
.main__sobre-nos__txt h1 {
  color: var(--text-colors-b);
}

.main__fareje {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: var(--background)
}

.main__fareje h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;

  color: var(--text-colors-b);


  padding-bottom: 64px;
}

.main__fareje-content___maps {
  min-width: 50%;
  border: none;
  border-radius: 34px;
}

.main__fareje-content__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px
}

.main__fareje-content__right p {
  color: var(--text-colors-b);
}

.main__fareje-content__right img {
  height: 16rem;
}

.main__fareje-content__right p {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  margin: 0px 0px 0px;
}

.main__fareje-content__right p strong {
  font-weight: bold;
}


.main__fareje-content {
  display: flex;
  gap: 64px;
}

/* Divider */

.divider {
  width: 100%;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-colors);

}

.divider div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patinha-img {
  max-height: 4rem;
  height: 100%;
}

.dog-img {
  height: 50vw;
  max-height: 200px;
}

.linha {
  width: 100vw !important;
  max-width: 254px;
  border-bottom: 2px solid #ffffff;
}

/* Footer de iago.com */

footer {
  background-color: var(--secondary-colors);
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.rodape {
  display: flex;
  flex-direction: row;
}

.cotato-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cotato-info h2 {
  font-size: 16px;
}

.cotato-info img {
  margin-right: 10px;
}

.logo {
  margin-right: 0 !important;
}

.cotato-info h2 {
  margin: 19px 0;
  color: #FFF;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.cotato-info h2 img {
  display: inline-flex;
}

.formulario {
  width: 100%;
  max-width: 700px;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario h1 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding: 0;
}

.formulario input,
.formulario textarea {
  width: 100%;
  max-width: 700px;
  border-radius: 3px;
  background: #EDF5F4;
  box-shadow: 0px -1px 0px 0px #484747 inset;
}

form {
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea {
  display: flex;
  width: 100%;
  padding: 13px 12px 13px 12px;
  align-items: center;

  background-color: #ffffff;
  border: 0;
  outline: 0;
  color: #242424da;
  font-size: 13px;
}

form textarea {
  resize: none;
  max-height: 420px;
}

form .botao-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
}

form .botao-enviar input {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  width: 128px;
  height: 31.688px;
  padding: 6px 39px 6.688px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: .2s;

  border-radius: 2px;
  background: var(--tertiary-color);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

div label {
  color: #FFF;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Fim Footer de iago.com */

/* Media Query Mobile */

@media (max-width: 768px) {

  #sobrenos,
  #servicos,
  #farejenos {
  margin-top: 64px;
  margin-bottom: 16px !important;
}

  .top-bar button {
    display: block;
  }

  .top-bar ul,
  .top-bar label {
    display: none;
  }

  .max-w {
    padding: 32px;
  }

  .main__sobre-nos {
    margin-bottom: 0;
  }

  .main__sobre-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 64px;
  }

  .main__sobre-nos__txt h1 {
    display: none;
  }

  .main__sobre-nos__txt p {
    font-size: 1rem;
    text-align: center;
  }

  .sn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 13px;
  }

  .cachorro-sn-mobile768 {
    width: 90vw !important;
  }

  .cachorro-sn-mobile480 {
    display: none;
  }

  .sn-img-desk {
    display: none;
  }

  .sn-mobile-title {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .sn-mobile-title h1 {
    color: var(--text-colors-b);
  }

  .sn-mobile-title h1 {
    font-size: 2rem;
    margin: 0%;
    font-weight: bold;
  }

  .claw-sn {
    display: none;
  }

  #servicos{
    margin-bottom: 32px !important;
  }
  .main__service{
    padding-bottom: 72px;
  }

  .swiper-button-prev{
    display: none !important;
  }
  
  .swiper-button-next{
    display: none !important;
  }

  .h1__service__txt{
    font-size: 1.5rem;
  }

  /* Divider */
  .divider {
    height: 30vw;
  }

  .patinha-img {
    width: 6vw !important;
  }

  .dog-img {
    width: 25vw !important;
  }

  .linha {
    height: 1vw !important;
    width: 50% !important;
    margin: 0 3vw !important;
  }

  /* Divider END*


  /* FAREJENOS */
  .main__fareje-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__fareje-content___maps {
    width: 90.975348338692392vw;
    height: 46vh;
  }

  .main_faixada {
    display: none;
  }

  .main__fareje h1 {
    font-size: 2rem;
  }

  .main__fareje-content__right p {
    font-size: 1.0rem;
  }

  /* FAREJENOS END*/


  /* FOOOTER*/
  .rodape {
    display: flex;
    flex-direction: column-reverse;
  }

  .cotato-info h2 {
    font-size: 100%
  }

  .cotato-info h2 img {
    width: 11%;
  }

  .logo {
    width: 30%;
  }

  .cotato-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cotato-info.copyright {}

  .formulario {
    padding: 40px 0;
  }


  /* FOOOTER END */

}

@media (max-width: 480px) {

  .max-w {
    padding: 20px;
  }

  /* SOBRE NÓS */
  .main__sobre-nos {
    margin: 64px 0 !important;
  }

  .sn-mobile {
    flex-direction: row;
  }

  .sn-mobile h1 {
    font-size: 1.8rem;
  }

  .cachorro-sn-mobile480 {
    display: flex;
    min-width: 90px;
  }

  .cachorro-sn-mobile768 {
    display: none;
  }

  .main__sobre-nos__txt p {
    font-size: 0.8rem;
    text-align: justify;
  }

  .sn-mobile-title {
    display: flex;
    flex-direction: column;
  }

  .pata-light {
    display: var(--pl);
  }

  .pata-dark {
    display: var(--pd);
  }

  .claw-sn {
    width: 40% !important;
    height: 40% !important;
    position: absolute;
    right: -10px;
    bottom: 4px;
  }

  /* SOBRE NÓS END */

  .swiper{
  
    border-radius: 29px;
  }


  /* DIVIDER */


  /* DIVIDER END */

  /* FAREJE-NOS */
  .main__fareje h1 {
    font-size: 1.6rem;
    padding-bottom: 34px;
  }

  .main__fareje-content__right p {
    font-size: 0.8rem;
  }

  .main__fareje-content___maps {
    height: 36vh;
  }

  /* FAREJE-NOS END */

  /*FOOTER*/
  .formulario h1 {
    font-size: 1.4rem;
  }

  .cotato-info {
    text-align: center !important;
  }

  .cotato-info h2 {
    font-size: 100%;
  }

  .cotato-info h2 img {
    width: 7%;
    min-width: 15px;
    max-width: 30px;
  }

  .logo {
    width: 50%;
    margin: 0 auto !important;
    min-width: 82px;
    max-width: 179px;
  }

  .cotato-info {
    display: flex;
    flex-direction: column;
  }

  .cotato-info.copyright {}

  /*FOOTER END*/
}

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  border: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #e73700;
}

h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}

h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}

button {
  outline: none !important;
}

/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}

.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}

.line-title::before {
  width: 100%;
  background: #f2f2f2;
}

.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}

.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}

.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}

.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

  .game-section .item.active {
    width: 400px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }

  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

  .game-section .item.active {
    width: 360px;
  }

  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h2 {
    margin-bottom: 20px;
  }

  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }

  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }

  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }

  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}