@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;

  --dark-primary-colors: #52057B;
  --dark-secondary-colors: #7820A7;
  --dark-text-colors: #FFFBF5;
  --dark-bg: #180D29;
  --light-primary-colors: #BC85DA;
  --light-secondary-colors: #CC9AE8;
  --light-text-colors: #000000;
  --light-bg: #FFFBF5;
}

body {
  overflow-x: hidden;
  background: var(--light-bg);
}

p,
li {
  font-family: 'Inter', sans-serif !important;
}

h1 {
  font-family: 'Cabin', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: var(--dark-text-colors) !important;
}

.carousel-inner {
  background-color: var(--light-secondary-colors);
}

.carousel-item {
  position: relative;
  height: 512px;
}

.carousel-item img {
  width: auto;
  height: auto;
  min-width: 1280px;
  max-width: 1920px;
  position: absolute;
  bottom: 0;
}

.max-w {
  width: 100%;
  max-width: 1366px;
  padding: 64px;
}

.top-bar {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 50;
  background-color: var(--light-primary-colors);
}

.top-bar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar button {
  background-color: transparent;
  border: none;
  display: none;
}

.top-bar button:hover {
  cursor: pointer;
}

.side-bar {
  width: 100%;
  margin-top: 64px;
  background: #00000070;
  position: fixed;
  display: none;
  justify-content: flex-end;
  z-index: 100;
  top: 0;
}

.show-sidebar {
  display: flex !important;
}

.w-sb {
  width: 86%;
  height: 100%;
  height: 9999px;
  background-color: var(--light-primary-colors);
}

button:focus {
  outline: none !important;
}

.top-bar ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 82px;
  margin: 0px;
  color: var(--dark-text-colors);
}

.top-bar li {
  font-weight: bold;
}

.button-switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.button-switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000050;
  transition: .2s;
  border-radius: 30px;
  box-shadow: inset 0px 0px 10px 0px #00000070;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: var(--light-primary-colors);
  background-image: url(./assets/sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: .4s;
}

input:checked+.slider::before {
  background-color: var(--dark-primary-colors);
  background-image: url(./assets/moon.svg);
}

input:checked+.slider:before {
  transform: translateX(1.9em);
}

.active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}


/*  */
.main {
  background-color: var(--light-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__sobre-nos {
  display: flex;
  gap: 64px;
}

.main__sobre-nos__txt {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.h1__sobre-nos {
  font-weight: bold;
  font-size: 40px;
}

.p__sobre-nos {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
  width: 744px;
  height: 283px;
}

.main__fareje {
  display: flex;
  flex-direction: column;

  background-color: var(--light-bg);
}

.main__fareje h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;

  color: #000000;

}

.main__fareje-content {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.divider {
  width: 100%;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-secondary-colors);

}

.divider div {
  display: flex;
  align-items: center;
}

.divider-content {

  gap: 4.270833333333333vw;
  /* Eu */

}

.dog-img {
  margin: 0 4.270833333333333vw;
  /* Eu */
  justify-content: space-between;
}


.linha {
  width: 13.229166666666666vw;
  /* Eu */
  border-bottom: 2px solid #ffffff;
}

@media (max-width: 768px) {
  .top-bar button {
    display: block;
  }

  .top-bar ul,
  .top-bar label {
    display: none;
  }
}